
# Spring Database
DB_ROOT_PASSWORD=
DB_DATABASE=
DB_USER=
DB_PASSWORD=

DB_URL=

# EspoCRM Database
DB_ESPOCRM_DATABASE=

# EspoCRM
ESPOCRM_API_KEY=
ESPOCRM_BASE_URL=

# JWT
JWT_SECRET=
# JWT_EXPIRATION=10800

# RabbitMQ
RABBIT_HOST=
RABBIT_PORT=
RABBIT_PASSWORD=
RABBIT_USER=
RABBIT_VIRTUAL_HOST=

# MailTrap
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=

